<!--
    File name: error.ejs
    Name: Ulkar Zakaryayeva
    Student Number: 301107604
    Date: October 31, 2021
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
